<footer class="footer">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6">
    <div class="logo">
        <h3>Sales<span>Force</span></h3>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6">
    <ul class="footer-menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a> </li>
    <li><a href="#">Courses</a> </li>
    <li>
    <a href="#">Case Studies</a>
     </li>
    <li><a href="#">Contact Us</a> </li>
    <li>
    
    </li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="contact-info">
    <ul>
    <li> <i class="fas fa-map-marker-alt"></i>
    <h6>The Address Of The, Company</h6>
    </li>
    <li> <i class="fas fa-envelope"></i>
    <h6><a href="#">xyz@gmail.com</a></h6>
    </li>
    <li> <i class="fas fa-phone-volume"></i>
    <h6>000-000-0000</h6>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <form>
    <input type="text" placeholder="Enter Your Email">
    
    <button class="more-pic">Subscribe</button>
    </form>
    <div class="social-links">
    <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
    <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
    <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
    <a class="youtube" href="#"><i class="fab fa-youtube"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="policy">
    <div class="container">
    <h6>&copy; <span id="year">2021</span> Salesforce / All Rights Reserved</h6>
    </div>
    </div>
    </footer>